<html bs-app-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Admin - Tagoma</title>
  <link rel="stylesheet" href="https://bootstrapstudio.io/demo//embed//bootstrap/5/freelancer/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">


  <style bs-system-element="" bs-hidden=""></style>
  <style bs-system-element="" bs-hidden=""></style>
</head>

<a href="/logout" class="btn btn-primary btn-xl ">Log out</a>
<section id="contact">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-7">Admin</h2>
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <form action="admin" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div class="mb-0 form-floating controls pb-2"><input type="text" name="personalinfo"
                placeholder="add personal info" style="width: 416px;">
            </div>

            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"> <input type="text" name="education"
                  placeholder="add education" style="width: 416px;"></div>
            </div>

            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"> <input type="text" name="technical_skills"
                  placeholder="add technical skills" style="width: 416px;"></div>
            </div>
            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"> <input type="text" name="soft_skills"
                  placeholder="add soft skills" style="width: 416px;"></div>
            </div>
            <div class="control-group">
              <div class="mb-0 form-floating controls pb-2"> <input type="file" name="userFile" class="add a pic"></div>
            </div>
            <div id="success"></div>
            <div><button class="button btn btn-primary btn-xl" type="submit">Update info</button>
            </div>


        </form>



        </body>

</html>