<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Admin page</title>
</head>
<body>
  
    <form action="admin" method="POST" enctype="multipart/form-data">
        <input type="text" name="personalinfo" placeholder="add personal info">
        <input type="text" name="education" placeholder="add education">
        <input type="text" name="technical_skills" placeholder="add technical skills">
        <input type="text" name="soft_skills" placeholder="add soft skills">
        <input type="file" name="userFile" class="add a pic">
        <button type="submit" class="button">Add Data</button>
    </form>


    <a href="/logout">Log out</a>
</body>
</html>