@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
  background-color: rgb(184, 66, 66);
  font-family: 'Architects Daughter', cursive;
  line-height: 1.7;
}


.dropdown-item {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 50px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    scale: 0.5;
    

  }

  .dropdown-item:hover {opacity: 1;
scale: 0.55}


